<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
    <nav>{% include nav.html %}</nav>
    <div dir="auto" class="wrapper">
      <main>
        {{ content }}
        <script src="https://utteranc.es/client.js"
        repo="NoureddineHaouari / NoureddineHaouari.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
      </script>
      </main>

      <footer>{% include footer.html %}</footer>
    </div>

    {% include link-previews.html wrapperQuerySelector="content a,#localgraph circle,#mentions a" %}


  </body>
</html>
